.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    margin: 0 2rem;
}

.countItem {
    margin: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-600);
    font-size: 1.2rem;
}

.addItem {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.addItem > input {
    width: 45rem;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 1rem;
    line-height: 1.4;
}

.addItem > button[type='submit'] {
    border: none;
    padding: 1.5rem;
    background: var(--green-500);
    color: var(--white);
    border-radius: 8px;
    width: 12rem;
    cursor: pointer;
    transition: background-color .3s, transform .3s;
}

.addItem > button[type='submit']:hover {
    background: var(--green-300);
    transform: scale(1.1);
}

.wrapper main {
    display: flex;
    max-width: 58rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 3rem;
}